body{
    background-color: #F5F5F5;
}

.main_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-detail-container{
    background-color: white;
    width: 300px;
    height: fit-content;
    padding: 20px;
}

.order-summary-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px gray solid
}

.order-summary-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    border-bottom: 1px gray solid;
    padding: 3px;
}

.order-summary-total{
    font-weight: 600;
}

.order-summary-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#checkout, #continue-shopping{
    width: 97%;
    height: 40px;
    font-weight: 600;
    background-color: yellow;
    border-radius: 8px;
}

#continue-shopping{
    background-color: white;
}

#checkout:hover, #continue-shopping:hover{
    cursor: pointer;
}

.products_container{
    background-color: white;
    width: 1000px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 200px;
    border-bottom: 1px solid gray;
}

.product_image{
    width: 100px;
    height: 80px;
    margin-right: 50px;
}

.product_image img{
    max-width: 100%;
    height: auto;
}

.product_description{
    align-self: flex-start;
}
.count-container{
    display: flex;
    flex-direction: row;
    height: 27px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 24px;
}

.counter{
    width: 40px;
    border: 1px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.subtract-counter{
    width: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtract-counter:hover{
    cursor: pointer;
}

.add-counter{
    width: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-counter:hover{
    cursor: pointer;
}

.counter input{
    position: relative;
    top: -10%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 0px;
    background: transparent;
}

.counter input:focus{
    outline: 2px solid #007BFF;
}